* {
  margin: 0;
  padding: 0;
}

.template {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: rgb(254, 208, 208);
}

.todolistTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: absolute;
  left: 50px;
  top: 80px;
  width: 300px;
  height: 700px;
  gap: 10px;
  background-color: rgba(185, 174, 255, 0.482);
  border: 1px solid black;
}

#tableList {
  display: flex;
  flex-direction: column;
  background-color: yellow;
  width: 250px;
  align-items: start;
  
  word-break: break-word  /* this wraps the text */






}
